# Ignore everything by default
*

# Allow directories to traverse paths
!*/

# Whitelist required project files for GitHub
!index.html
!ui.js
!calculator.js
!ocr.js
!smelting_database.json
!manifest.json
!sw.js
!kh_banner.png
!README.md
!.gitignore


