# Ignore everything by default
*

# Allow directories to traverse paths
!*/

# Whitelist allowed project files
!index.html
!README.md
!smelting_database.json
!docs/
!docs/**

# Whitelist gitignore itself
!.gitignore
